@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

p {
  color: rgba(39, 39, 39, 0.60);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
}

button {
  border-radius: 8px;
  background: #E55473;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 15px 20px;
  cursor: pointer;
  translate: all 1s;
}

button:hover {
  background: #c21f43;
}


header,
#hot-doal {
  background-color: rgba(229, 84, 115, 0.1);
}

.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}

.section-heading {
  max-width: 500px;
  text-align: center;
  margin: 20px auto;
}

.section-heading h2 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner .banner-text * {
  margin-bottom: 32px;
  max-width: 525px;
}

.banner .banner-text h1 {
  color: #272727;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.banner .banner-img img {
  width: 100%;
  vertical-align: middle;
}

#featured {
  padding: 100px 0;
}

.section-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 20px;
}

.section-content .flower .flower-img {
  background-color: #eb9ceb;
  border-radius: 300px 300px 0px 0px;
  padding: 30px 25px 0;
  height: 500px;
  display: flex;
  align-items: end;
}

.section-content .flower .flower-img img {
  width: 100%;
}

.section-content .flower .pink {
  background: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {
  background: rgba(5, 151, 160, 0.15)
}

.section-content .flower .green {
  background: rgba(71, 125, 17, 0.15);
}

.section-content .flower p {
  color: #272727;
  text-align: center;
  margin-top: 16px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  /* 145.833% */
  text-decoration-line: underline;
}

.hot-deal-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}

#hot-doal .hot-deal-text {
  width: 75%;
  max-width: 445px;
  text-align: center;
}
#hot-doal .hot-deal-text *{
  margin-bottom: 25px;
}

#hot-doal .hot-deal-text h2 {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

#hot-doal .hot-deal-img {
     max-width: 318px;
}

#hot-doal .hot-deal-text h2 .important {
  color: #E55473;
}

#newsletter {
  margin: 128px 0;
}